:root {
    --numCols: 1;
    --numRows: 1;
}

#button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#resetBtn {
    background-color: teal;
    height: 50px;
    width: 100px;
    margin: 25px;
    font-size: 15px;
    border-radius: 10px;
}

.container {
    display: grid;
    justify-content: center;
    margin: auto;
    grid-template-columns: repeat(var(--numCols), 1fr);
    grid-template-rows: repeat(var(--numRows), 1fr);
    width: 550px;
    height: 550px;
    border: black solid 8px;
}

.block {
    display: flex;
    padding: 2px;
    border: 1px solid black;
}